@{
    ViewBag.Title = "Markmove";
}

<div class="jumbotron">
    <h1>Markmove</h1>
    <p class="lead">Markmove is the best friend of every tourist. Stop for a while! See the beauty of the world. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find attraction near you</h2>
        <p>
            Are you an explorer? 
            Click on the button below to find the best best attractions near you. 
        </p>
        <p><a class="btn btn-default btn-block" href="#">Find</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make your holiday plans</h2>
        <p>
            Holidays are coming and you are still thinking about a destination.
            Click on the button below to find the most suitable destination for you.
        </p>
        <p><a class="btn btn-default btn-block" href="#">Find</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tricks and tips</h2>
        <p>
            Are you going in the mountains?
            Find the best tricks and tips for knots.
        </p>
        <p><a class="btn btn-default btn-block" href="#">Find</a></p>
    </div>
</div>